:root {
  --width-before: 0px;
  --background-color: lightgrey;
}

#container {
  margin-left: 8vw;
  margin-top: 10vh;
  height: 80vh;
  width: 84vw;
  border: 2px dashed green;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  background: lightgrey;
}

#container .scrollBlocks {
  height: 2000px;
  flex: auto;
  flex-grow: 1;
  flex-shrink: 0;
}

#container #left.scrollBlocks {  
  flex-basis: 300px;
  width: 300px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(255,0,0,1) 100%);
  z-index: 20;
  opacity: 0.7;
  position: sticky;
  top: 0;
  left: 0;
}

#container #right.scrollBlocks {
  flex-basis: 2000px;
  width: 2000px;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,58,121,1) 54%, rgba(0,78,255,1) 100%);
  position: relative;
}

#container #right.scrollBlocks::before {
  content: '';
  position: absolute;  
  z-index: 19;
  top: 0;
  left: 0;
  height: 2000px;
  width: var(--width-before);
  background: var(--background-color);
}